---
---

$global-font-family: Georgia, "Times New Roman", Times, serif !default;
$heading-font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia,
  "Times New Roman", Times, serif !default;
$code-font-family: "Courier New", Courier, "Lucida Console", Monaco,
  "Liberation Mono", monospace !default;

@import "minimal-light";

body,
button,
input,
select,
textarea {
  font-family: $global-font-family !important;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family !important;
  font-weight: 600;
}

strong,
b {
  font-weight: 600;
}
